{% extends "base.html" %}

{% block content %}
    <body>
        <div class="container">
            <h7 class="display-4">Monday:</h7>
            <p></p>
            <div class="row">
                {% for time in monday %}
                <div class="col-md-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Shift</div>
                            <div class="card-body text-secondary">
                            <h5 class="card-title">{{ time|safe }}</h5>
                                <p class="card-text">{{ monday.get(time)|safe }}</p>
                            </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <h7 class="display-4">Tuesday:</h7>
            <p></p>
            <div class="row">
                {% for time in tuesday %}
                <div class="col-md-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Shift</div>
                            <div class="card-body text-secondary">
                            <h5 class="card-title">{{ time|safe }}</h5>
                                <p class="card-text">{{ tuesday.get(time)|safe }}</p>
                            </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <h7 class="display-4">Wednesday:</h7>
            <p></p>
            <div class="row">
                {% for time in wednesday %}
                <div class="col-md-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Shift</div>
                            <div class="card-body text-secondary">
                            <h5 class="card-title">{{ time|safe }}</h5>
                                <p class="card-text">{{ wednesday.get(time)|safe }}</p>
                            </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <h7 class="display-4">Thursday:</h7>
            <p></p>
            <div class="row">
                {% for time in thursday %}
                <div class="col-md-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Shift</div>
                            <div class="card-body text-secondary">
                            <h5 class="card-title">{{ time|safe }}</h5>
                                <p class="card-text">{{ thursday.get(time)|safe }}</p>
                            </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <h7 class="display-4">Friday:</h7>
            <p></p>
            <div class="row">
                {% for time in friday %}
                <div class="col-md-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Shift</div>
                            <div class="card-body text-secondary">
                            <h5 class="card-title">{{ time|safe }}</h5>
                                <p class="card-text">{{ friday.get(time)|safe }}</p>
                            </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <!-- <h1>Assigned Times:</h1>
            <p>{{ times|safe }}</p> -->
            <h2>Unassigned Times:</h2>
            <p>{{ unassigned_times|safe }}</p>
        </div>
    </body>
{% endblock %}