<!DOCTYPE html>
<html>
    <head>
        <!--adds libraries-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <meta charset="utf-8">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

        <title>{{ title }} - LA Calendar</title>
    </head>
    <body>
        <div class="container">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="{{ url_for('index') }}">COMP 401 LA Calendar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        
                      </nav>
                      <br>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.la_name.label }}<br>
                    {{ form.la_name(size=32) }}<br>
                    {% for error in form.la_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

            <script>
                // came from https://github.com/LukasSliacky/Flask-Autocomplete
                $(function() {
                    $.ajax({
                        url: '{{ url_for("autocomplete") }}'
                        }).done(function (data){
                            $('#name_autocomplete').autocomplete({
                                source: data,
                                minLength: 2
                            });
                        });
                    });
            </script>
            {% if on_day[0] %}
                <h7 class="display-4">Monday:</h7>
                <p></p>
                <div class="row">
                    {% for time in monday %}
                        {% if name in monday.get(time) %}
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Shift</div>
                                        <div class="card-body text-secondary">
                                        <h5 class="card-title">{{ time|safe }}</h5>
                                            <p class="card-text">{{ monday.get(time)|safe }}</p>
                                        </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if on_day[1] %}
                <h7 class="display-4">Tuesday:</h7>
                <p></p>
                <div class="row">
                    {% for time in tuesday %}
                        {% if name in tuesday.get(time) %}
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Shift</div>
                                        <div class="card-body text-secondary">
                                        <h5 class="card-title">{{ time|safe }}</h5>
                                            <p class="card-text">{{ tuesday.get(time)|safe }}</p>
                                        </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if on_day[2] %}
                <h7 class="display-4">Wednesday:</h7>
                <p></p>
                <div class="row">
                    {% for time in wednesday %}
                        {% if name in wednesday.get(time) %}
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Shift</div>
                                        <div class="card-body text-secondary">
                                        <h5 class="card-title">{{ time|safe }}</h5>
                                            <p class="card-text">{{ wednesday.get(time)|safe }}</p>
                                        </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if on_day[3] %}
                <h7 class="display-4">Thursday:</h7>
                <p></p>
                <div class="row">
                    {% for time in thursday %}
                        {% if name in thursday.get(time) %}
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Shift</div>
                                        <div class="card-body text-secondary">
                                        <h5 class="card-title">{{ time|safe }}</h5>
                                            <p class="card-text">{{ thursday.get(time)|safe }}</p>
                                        </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if on_day[4] %}
                <h7 class="display-4">Friday:</h7>
                <p></p>
                <div class="row">
                    {% for time in friday %}
                        {% if name in friday.get(time) %}
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Shift</div>
                                        <div class="card-body text-secondary">
                                        <h5 class="card-title">{{ time|safe }}</h5>
                                            <p class="card-text">{{ friday.get(time)|safe }}</p>
                                        </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <!-- <h1>Assigned Times:</h1>
            <p>{{ times|safe }}</p> -->
            {% if unassigned_times %}
                <h2>Unassigned Times:</h2>
                <p>{{ unassigned_times|safe }}</p>
            {% endif %}
        </div>
    </body>
</html>